<div class="system-symcodecloud-field">
    <label for="symcode_cloud_akeneo___host">Host</label>

    <div class="system-symcodecloud-field">
        <input id="symcode_cloud_akeneo___host" type="text" name="symcode_cloud_akeneo___host" value="<%- host  %>" />
    </div>
</div>

<div class="system-symcodecloud-field">
    <label for="symcode_cloud_akeneo___username">Username</label>

    <div class="system-symcodecloud-field">
        <input id="symcode_cloud_akeneo___username" type="text" name="symcode_cloud_akeneo___username" value="<%- username  %>" />
    </div>
</div>

<div class="system-symcodecloud-field">
    <label for="symcode_cloud_akeneo___password">Password</label>

    <div class="system-symcodecloud-field">
        <input id="symcode_cloud_akeneo___password" type="password" name="symcode_cloud_akeneo___password" value="<%- password  %>" />
    </div>
</div>