<div class="system-symcodeclod-field">
    <label for="symcode_cloud_akeneo___active">Active</label>

    <div class="system-symcodeclod-field">
        <div class="switch switch-small" data-on-label="<%- _.__('pim_enrich.form.entity.switch.yes') %>" data-off-label="<%- _.__('pim_enrich.form.entity.switch.no') %>">
            <input id="symcode_cloud_akeneo___active" type="checkbox" name="system-symcodeclod___active" <%- active === '1' ? 'checked' : '' %> />
        </div>
    </div>
</div>

<div class="system-symcodecloud-field">
    <label for="symcode_cloud_akeneo___host">Host</label>

    <div class="system-symcodecloud-field">
        <input id="symcode_cloud_akeneo___host" type="text" name="symcode_cloud_akeneo___host" value="<%- host  %>" />
    </div>
</div>

<div class="system-symcodecloud-field">
    <label for="symcode_cloud_akeneo___username">Username</label>

    <div class="system-symcodecloud-field">
        <input id="symcode_cloud_akeneo___username" type="text" name="symcode_cloud_akeneo___username" value="<%- username  %>" />
    </div>
</div>

<div class="system-symcodecloud-field">
    <label for="symcode_cloud_akeneo___password">Password</label>

    <div class="system-symcodecloud-field">
        <input id="symcode_cloud_akeneo___password" type="password" name="symcode_cloud_akeneo___password" value="<%- password  %>" />
    </div>
</div>

<div class="system-symcodeclod-field">
    <label for="symcode_cloud_akeneo___callback_active">Autoassign: Active</label>

    <div class="system-symcodeclod-field">
        <div class="switch switch-small" data-on-label="<%- _.__('pim_enrich.form.entity.switch.yes') %>" data-off-label="<%- _.__('pim_enrich.form.entity.switch.no') %>">
            <input id="symcode_cloud_akeneo___callback_active" type="checkbox" name="system-symcodeclod___callback_active" <%- callback_active === '1' ? 'checked' : '' %> />
        </div>
    </div>
</div>

<div class="system-symcodecloud-field">
    <label for="symcode_cloud_akeneo___callback_pattern">Autoassign: Pattern</label>

    <div class="system-symcodecloud-field">
        <input id="symcode_cloud_akeneo___callback_pattern" type="text" name="symcode_cloud_akeneo___callback_pattern" value="<%- callback_pattern  %>" />
    </div>
</div>